:root
{
  --color-bg: #92e0ff8c;
  --color-btn-1: #0056b3;
  --color-btn-1-hover: #003d80;
  --color-btn-2: #ff9900;
  --color-btn-2-hover: #cc7a00;
  --color-btn-3: #9a47ca;
  --color-btn-3-hover: #651594;
  --color-btn-desactivated: #414141;
  --color-correct: #4CAF50;
  --color-correct-hover: #3e8e41;
  --color-correct-effect: #91ff00c0;
  --color-wrong: #f44336;
  --color-wrong-hover: #d32f2f;
  --color-text: #033447;
  --color-highlight: #00a2e2;
  --color-text-bg: #e0f7fa;

  --font-size-small: 1.1em;
  --font-size-medium: 1.3em;
  --font-size-title: 2.5em;
}

/* Global */
body
{
  font-family: Arial, sans-serif;
  background-color: var(--color-bg);
  text-align: center;
  padding: 20px;
  line-height: 1.5;
}

.container
{
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Titres */
h1
{
  font-size: var(--font-size-title);
  color: var(--color-highlight);
  text-shadow: 2px 2px 4px #ccc;
  margin: 0;
}

/* Écran de démarrage */
#start-screen
{
  opacity: 0;
  animation: fadeIn 1s forwards;
  text-align: center;
}

#start-screen p
{
  animation: fadeIn 1.5s forwards;
  font-size: var(--font-size-medium);
  color: var(--color-text);
  font-weight: bold;
  margin: 5px;
}

/* Thèmes */
#theme-list
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.theme-btn
{
  width: 90%;
  padding: 15px;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
}

/* Bouton upload */
.file-upload-btn
{
  display: inline-block;
  font-size: var(--font-size-small);
  padding: 16px 32px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  background-color: var(--color-btn-2);
  color: white;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.file-upload-btn:hover
{ 
  background-color: var(--color-btn-2-hover);
  transform: scale(1.05);
}

/* Boutons généraux */
button
{
  font-size: var(--font-size-small);
  padding: 18px 35px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  background-color: var(--color-btn-1);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover
{ 
  background-color: var(--color-btn-1-hover);
  transform: scale(1.05);
}

/* Boutons aide */
.help-btn
{
  background-color: var(--color-btn-3);
}

.help-btn:hover
{ 
  background-color: var(--color-btn-3-hover);
  transform: scale(1.05);
}

.desactivated-btn
{
  opacity: 0.6;
  cursor: not-allowed;
  background-color: var(--color-btn-desactivated);
}

.desactivated-btn:hover
{
  background-color: var(--color-btn-desactivated);
  transform: none;
}

/* Réponses */
#answers
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 10px;
  margin-top: 10px;
  min-height: 110px;
  justify-items: center;
}

.answer-btn
{
  min-height: max-content;
  width: 95%;
  max-width: 350px;
  font-size: var(--font-size-medium);
  padding: 5px;
  border-radius: 12px;
}

.answer-btn.correct
{
  background-color: var(--color-correct);
  animation: pulse-color-correct 2s infinite;
  box-shadow: 0 0 15px var(--color-correct);
}

.answer-btn.correct:hover
{ 
  background-color: var(--color-correct-hover);
}

.answer-btn.wrong
{
  background-color: var(--color-wrong);
}

.answer-btn.wrong:hover
{ 
  background-color: var(--color-wrong-hover);
}

.answer-btn.desactivated
{
  opacity: 0.3;
  cursor: not-allowed;
}

.answer-btn.desactivated:hover
{
  background-color: var(--color-btn-1);
  transform: none;
}

/* Enoncé de la question */
#question
{
  font-size: var(--font-size-medium);
  color: var(--color-text);
  font-weight: normal;
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
}

/* Texte accentué */
.highlight
{
  color: var(--color-highlight);
  font-weight: bold;
}

/* Boutons navigation */
#navigation-buttons
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

#navigation-buttons button
{
  font-size: var(--font-size-small);
  padding: 16px 32px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#navigation-buttons .top-buttons
{
  margin-top: 10px;
}

#navigation-buttons .top-buttons #fifty-btn
{
  margin-right: 10vw;
}

#back-to-menu-btn
{
  background-color: var(--color-wrong);
}

#back-to-menu-btn:hover
{ 
  background-color: var(--color-wrong-hover);
}

#next-question-btn
{
  background-color: var(--color-correct);
  display: none;
}

#next-question-btn:hover
{ 
  background-color: var(--color-correct-hover);
}

#skip-question-btn
{
  background-color: var(--color-btn-2);
  display: none;
}

#skip-question-btn:hover
{ 
  background-color: var(--color-btn-2-hover);
}

/* Conteneurs */
#answer-message-container
{
  background-color: var(--color-text-bg);
}

#message-container
{
  display: none;
  font-size: var(--font-size-medium);
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 12px;
  font-weight: bold;
}

.correct-message
{
  color: var(--color-correct);
}

.wrong-message
{
  color: var(--color-wrong);
}

#answer-explanation-container
{
  display: none;
  font-size: var(--font-size-medium);
  line-height: 1.6;
  color: var(--color-text);
  padding-bottom: 10px;
  border-radius: 12px;
}

/* Labels */
.true-label,
.false-label,
.correct-answers-label,
.total-answers-label,
.percentage-label
{
  font-size: var(--font-size-small);
  font-weight: bold;
  margin-top: 10px;
}

.true-label,
.correct-answers-label,
.percentage-label
{
  color: var(--color-correct);
}

.false-label,
.total-answers-label
{
  color: var(--color-wrong);
}

/* Numéro de la question */
#question-number
{
  font-size: var(--font-size-medium);
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-text);
  background-color: var(--color-text-bg);
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#question-number span
{
  color: var(--color-highlight)
}

/* Animations */
@keyframes fadeIn
{
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}

@keyframes pulse-color-correct
{
  0%
  {
    box-shadow: 0 0 25px var(--color-correct-effect);
  }
  50%
  {
    box-shadow: 0 0 80px var(--color-correct-effect);
  }
  100%
  {
    box-shadow: 0 0 25px var(--color-correct-effect);
  }
}

/* Responsive design */
@media (max-width: 900px)
{
  :root
  {
    --font-size-small: 0.9em;
    --font-size-medium: 1em;
    --font-size-title: 1.5em;
  }

  button, .answer-btn
  {
    padding: 14px 28px;
  }

  #answers
  {
    min-height: 30px;
    grid-template-columns: 1fr;
  }
  
  /* Thèmes */
  #theme-list
  {
    grid-template-columns: repeat(2, 1fr);
  }

  .theme-btn
  {
    min-width: 0%;
  }
}

/* === TABLETTE EN MODE PAYSAGE === */
@media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: landscape)
{
  :root
  {
    --font-size-small: 0.9em;
    --font-size-medium: 1.2em;
    --font-size-title: 1.6em;
  }

  body
  {
    padding: 10px;
  }

  #answers
  {
    min-height: 70px;
  }
}
